<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Interior Design</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets3/img/favicon.png" rel="icon">
  <link href="static/assets3/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets3/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets3/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets3/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets3/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets3/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets3/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="{% url 'home' %}">Interior Design</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="static/index.html"><img src="static/assets3/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'aboutus' %}">About</a></li>


          <li><a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li>
            <li><a class="nav-link scrollto" href="{% url 'register' %}">Register</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->




    <!-- ======= Team Section ======= -->
    <section id="team" class="team" style="margin-top:100px;">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Interior design is the art and science of enhancing the interior of a building to achieve a healthier and more aesthetically pleasing environment for the people using the space. With a keen eye for detail and a creative flair, an interior designer is someone who plans, researches, coordinates, and manages such enhancement projects. Interior design is a multifaceted profession that includes conceptual development, space planning, site inspections, programming, research, communicating with the stakeholders of a project, construction management, and execution of the design.</p>
        </div>

        <div class="row" >


          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" style="margin-left:200px;" >
            <div class="member">
              <img src="static/assets3/img/portfolio/hall1.jpeg" style="height:300px;width:350px;" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Preetham</h4>
                  <span>Frontend and Database</span>
                </div>
                <div class="social">
                  <a href="static/"><i class="bi bi-twitter"></i></a>
                  <a href="static/"><i class="bi bi-facebook"></i></a>
                  <a href="static/"><i class="bi bi-instagram"></i></a>
                  <a href="static/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="static/assets3/img/portfolio/kitchen1.jpeg" style="height:300px;width:307px;" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Bharath</h4>
                  <span>Backend</span>
                </div>
                <div class="social">
                  <a href="static/"><i class="bi bi-twitter"></i></a>
                  <a href="static/"><i class="bi bi-facebook"></i></a>
                  <a href="static/"><i class="bi bi-instagram"></i></a>
                  <a href="static/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="static/assets3/img/portfolio/bedroom2.jpeg" style="height:300px;width:306px;"  class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                </div>
                <div class="social">
                  <a href="static/"><i class="bi bi-twitter"></i></a>
                  <a href="static/"><i class="bi bi-facebook"></i></a>
                  <a href="static/"><i class="bi bi-instagram"></i></a>
                  <a href="static/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Team Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->


  <a href="static/#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets3/vendor/aos/aos.js"></script>
  <script src="static/assets3/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets3/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets3/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets3/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets3/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets3/js/main.js"></script>

</body>

</html>